<!DOCTYPE html>
<html>
<head>
    <title>{{name}}</title>
    <!--  Build Date: {{newDate}} -->
    <!--  Version: "{{version}}"-->
    <!--  Repository: "{{{repository}}}"-->
    <script type="text/javascript" src="{{{server}}}/apps/{{{sdk}}}/sdk.js"></script>
    {{#remote_javascript_files}}
    <script type="text/javascript" src="{{{.}}}"></script>
    {{/remote_javascript_files}}

    <script type="text/javascript">
         Ext.override(Rally.ui.DateField, {
            applyState: function(state) {
                if (state.value) {
                    this.setValue(new Date(state.value));
                }
            }
        });

        Ext.override(Ext.form.field.Checkbox, {
            getState: function() {
                return { checked: this.getValue() };
            },
            applyState: function(state) {
                if (typeof state.checked === "boolean") {
                    this.setValue(state.checked);
                }
            }
        });

        // Bug in the SDK when clearing a combobox, it does't clear the value but saves a non-existing record
        Ext.override(Ext.form.field.ComboBox, {
            select: function (r) {
                if (r && !r.get('ObjectID') && r.get('_uuidRef') === '/allowedattributevalue/') {
                return;
                }
                this.callParent(arguments);
            }
        });

        // Remove default resize state event. It causes issues with stateful comboboxes
        Ext.override(Ext.AbstractComponent, {
            constructor: function () {
                this.callParent(arguments);

                if (this.stateful && this.getStateId()) {
                    const stateEventsByName = this.stateEventsByName || {};
                    const stateEvents = this.stateEvents || [];

                    if (stateEventsByName['resize'] && !stateEvents.includes('resize')) {
                        delete stateEventsByName['resize'];
                        this.un('resize', this.onStateChange, this);
                    }
                }
            }
      });

        // This override resolves an issue when loading an app externally. The SDK launches the custom
        // app before Rally.environment has finished initializing, resulting in errors
        Ext.override(Rally.app.App, {
            loadSettingsAndLaunch: function () {
                if(this.getAppId()) {
                    if(this.stateful && !this.stateId) {
                        this.stateId = this.getContext().getScopedStateId('appState');
                    }
                    Deft.Chain.pipeline([
                        this._loadScope,
                        this._loadSettings,
                        this._applyDefaultSettingsAndLaunch
                    ], this);
                } else {
                    // Fix is here. Wrap everything in an onReady function
                    Rally.onReady(() => {
                        if(this.stateful && !this.stateId) {
                            this.stateId = this.getContext().getScopedStateId('appState');
                        }
                        Deft.Chain.pipeline([
                            this._loadScope,
                            this._loadSettings,
                            this._applyDefaultSettingsAndLaunch
                        ], this);
                    });
                }
            }
        });

        // When embedding an app in an iframe, an error is thrown trying to access
        // window.parent and window.top. Catch this to ensure proper operation
        Ext.override(Rally.sdk.env.Global, {
            _getRallyEnvironment: function () {
                var rallyEnvironment = null;

                try {
                    Ext.each([window.parent, window.top], function (w) {
                        if (w && w !== window && w.Rally && w.Rally.environment) {
                            rallyEnvironment = w.Rally.environment;
                            return false;
                        }
                    });
                } catch (e) {}

                return rallyEnvironment;
            }
        });
        
        Rally.onReady(function () {
            {{#javascript_files}}
                {{{.}}}
            {{/javascript_files}}

            Rally.launchApp('{{className}}', {
                name:"{{name}}",
                parentRepos:"{{{parents}}}",
                version:"{{version}}"
            });

        });
    </script>

    {{#remote_css_files}}
    <link rel="stylesheet" type="text/css" href="{{{.}}}"/>
    {{/remote_css_files}}

    {{#css_files}}
    <style type="text/css">
        {{{.}}}
    </style>
    {{/css_files}}
</head>
<body>
{{#html_files}}
    {{{.}}}
{{/html_files}}
</body>
</html>
