<!DOCTYPE html>
<html>
  <head>
    <title>{{name}}</title>
    <!--  Build Date: {{newDate}} -->
    <!--  Version: "{{version}}"-->
    <!--  Repository: "{{{repository}}}"-->
    <script type="text/javascript" src="/apps/{{{sdk}}}/sdk.js"></script>
    {{#remote_javascript_files}}
    <script type="text/javascript" src="{{{.}}}"></script>
    {{/remote_javascript_files}}

    <script type="text/javascript">
        // Fixes issue where custom apps refresh when the user clicks on a work item link to view its details
        Ext.override(Rally.nav.Manager, {
            getDetailHash: function (record, options) {
                options = options || {};

                var ref = Rally.util.Ref.getRefUri(record);

                if (!Rally.util.Ref.isRefUri(ref)) {
                    return null;
                }

                var refItem = Rally.util.Ref.getRefObject(ref),
                    refType = refItem.getType();

                if (refType === 'testfolder') {
                    return null;
                }

                var oid = refItem.getOid(),
                    info = (refType ? Rally.util.TypeInfo.getTypeInfoByName(refType) : null) || {},
                    alias = info.alias,
                    suffix = info.detailSlugSuffix,
                    prettyType = alias || refType.toLowerCase(),
                    scopePath = '/' + Rally.environment.getContext().getScopeStr(options.projectOid || this._determineProjectOidForLink(record, options)),
                    hash = oid && prettyType ? scopePath + '/detail/' + prettyType + '/' + oid + (suffix || '') : null;

                if (hash && options.subPage) {
                    hash += '/' + options.subPage;
                }

                if (window.parent && window.parent.Churro && window.parent.Churro.rewriteDetailHash) {
                    return window.parent.Churro.rewriteDetailHash(hash);
                }
                return hash;
            }
        });

         Ext.override(Rally.ui.DateField, {
            applyState: function(state) {
                if (state.value) {
                    this.setValue(new Date(state.value));
                }
            }
        });

        Ext.override(Ext.form.field.Checkbox, {
            getState: function() {
                return { checked: this.getValue() };
            },
            applyState: function(state) {
                if (typeof state.checked === "boolean") {
                    this.setValue(state.checked);
                }
            }
        });

        // Bug in the SDK when clearing a combobox, it does't clear the value but saves a non-existing record
        Ext.override(Ext.form.field.ComboBox, {
            select: function (r) {
                if (r && !r.get('ObjectID') && r.get('_uuidRef') === '/allowedattributevalue/') {
                return;
                }
                this.callParent(arguments);
            }
        });

        // Remove default resize state event. It causes issues with stateful comboboxes
        Ext.override(Ext.AbstractComponent, {
            constructor: function () {
                this.callParent(arguments);

                if (this.stateful && this.getStateId()) {
                    const stateEventsByName = this.stateEventsByName || {};
                    const stateEvents = this.stateEvents || [];

                    if (stateEventsByName['resize'] && !stateEvents.includes('resize')) {
                        delete stateEventsByName['resize'];
                        this.un('resize', this.onStateChange, this);
                    }
                }
            }
      });

      Rally.onReady(function () {
            {{#javascript_files}}
                {{{.}}}
            {{/javascript_files}}

            Rally.launchApp('{{className}}', {
                name:"{{name}}",
                parentRepos:"{{{parents}}}",
                version:"{{version}}"
            });

        });
    </script>

    {{#remote_css_files}}
    <link rel="stylesheet" type="text/css" href="{{{.}}}" />
    {{/remote_css_files}} 
    {{#css_files}}
    <style type="text/css">
      {{{.}}}
    </style>
    {{/css_files}}
  </head>
  <body>
    {{#html_files}} 
    {{{.}}}
    {{/html_files}}
  </body>
</html>
